{% extends "global/base.html" %}

{% block titulo %}Projeto Agenda - Django{% endblock titulo %}

{% block conteudo %}

    <h1>Django - Estudos</h1>
    <h2>Contatos</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed temporibus autem velit? Laudantium libero consequatur, qui nisi debitis non assumenda quo mollitia quod quae autem quidem, necessitatibus voluptas eum est.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed temporibus autem velit? Laudantium libero consequatur, qui nisi debitis non assumenda quo mollitia quod quae autem quidem, necessitatibus voluptas eum est.
    </p>
{% endblock %}