{% extends "global/base.html" %}

{% block titulo %}Projeto Agenda - Django{% endblock titulo %}

{% block conteudo %}

    <h1 class="display-5 p-md-2">Django - Estudos</h1>
    <h2 class="display-6 p-md-1">Contatos</h2>
    <p class="lead p-2 mg-2">  
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed temporibus autem velit? Laudantium libero consequatur, qui nisi debitis non assumenda quo mollitia quod quae autem quidem, necessitatibus voluptas eum est.
    </p>
    <p class="lead p-2 mg-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed temporibus autem velit? Laudantium libero consequatur, qui nisi debitis non assumenda quo mollitia quod quae autem quidem, necessitatibus voluptas eum est.
    </p>
{% endblock %}